@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/_global" as *;
@use "../../styles/partials/_variables" as *;

.projects{
    padding: 1rem 2rem 1rem 2rem;
    background-color: $main-bg-color;
    color: white;
    &--title{
        font-size: 1.5rem;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: inherit;
        padding: 0 0 0.5rem 0;
    }
    &--subtitle{
        font-size: 1rem;
        padding: 1rem 0 0.5rem 0;
        cursor: pointer;
        transition: color 0.3s ease;
    }
    &--subtitle:hover{
        color: $secondary-main-color;
    }
    &--body{
        color: $medium-color;
        padding-bottom: 0.5rem;
    }
    &--projectimage{
        border-radius: 6px;
        width: 13rem;
        padding: 1rem 0 0 0;
        cursor: pointer;
        transition: transform 2s ease, filter 1s ease;
    }
    &--projectimage:hover{
        filter: hue-rotate(180deg);
        transform: scale(1.05);
    }
    &--techstack{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        font-size: 0.8rem;
        &__item{
            color: $secondary-main-color;
            margin: 0.25rem;
            list-style-type: none;
            background-color: $light-background-color;
            padding: 0.1rem 0.5rem 0.1rem 0.5rem;
            border-radius: 15px;
        }
    }
}