@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/_global" as *;

.navbar{
    &--item{
        &__container{
            display: flex;
            flex-direction: row;
        }
        &__line{
            background-color: black;
            height: 0.25rem;
            width: 3rem;
        }
        &__title{
            list-style-type: none;
            color: black;
        }
    }
}
.active{
    color: red;
    &--line{
        background-color: red;
    }
}